     <%- include('partials/header') %>
        <div class="message">
             <button id="btn">All</button>
              <button id="btn">Unread</button>
               <button id="btn">Group</button>
                <button id="btn">Favorites</button>
        </div>

        <div class="contact-list" id="contactList">
            <% if (contacts && contacts.length > 0) { %>
                <% contacts.forEach(contact => { %>
                    <div class="contact-item">
                        <div class="contact-avatar"><%= contact.name.charAt(0) %></div>
                        <div class="contact-info">
                            <div class="contact-name"><%= contact.name %></div>
                            <div class="contact-last-msg"><%= contact.phone %></div>
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <div class="empty-chat">
                    <div class="empty-chat-icon">
                        <i class="fas fa-users"></i>
                    </div>
                    <p>No contacts yet</p>
                </div>
            <% } %>
        </div>
    </div>

   <%- include('partials/footer') %>