<%- include('partials/header') %>
        <div class="message">
             <button id="btn">All</button>
              <button id="btn">Unread</button>
               <button id="btn">Group</button>
                <button id="btn">Favorites</button>
        </div>
<div class="contact-list" id="contactList">
    <% if (contacts && contacts.length > 0) { %>
        <% contacts.forEach(contact => { %>
            <div class="contact-item" data-userid="<%=contact.contactId._id%>">
                <div class="contact-avatar"><%= contact.name.charAt(0) %></div>
                <div class="contact-info">
                    <div class="contact-name"><%= contact.name %></div>
                    <div class="contact-last-msg"><%= contact.phone %></div>
                     <div class="contact-last-message"><%= contact.lastMessage ? contact.lastMessage : '' %></div>
                    <div class="contact-about" style="display: none;"><%=contact.contactId.about%></div>
                </div>
                <% if (contact.unreadCount && contact.unreadCount > 0) { %>
                  <span class="unread-badge"><%= contact.unreadCount %></span>
                <% } %>
            </div>
        <% }) %>
    <% } %>
</div>
<div class="empty" id="emptyChatMsg" <% if (contacts && contacts.length > 0) { %>style="display:none"<% } %>>
    <div class="empty-chat-icon">
        <i class="fas fa-users"></i>
    </div>
    <p>No contacts yet</p>
    </div>
    </div>
        <!-- Add this just before </body> -->
<div class="user-info-overlay" id="userInfoOverlay"></div>
<div class="user-info" id="userInfoSidebar">
  <div class="crossEdit">
    <div class="crossbtn">
    <i class="fa-solid fa-xmark"></i>
    </div>
    <div class="editbtn">
    <i class="fa-solid fa-pencil"></i>
    </div>
  </div>
  <div class="profile-avatar" id="profileAvatar"></div>
  <div class="profile-name" id="profileName"></div>
  <div class="profile-phone" id="profilePhone"></div>
  <div class="profile-about" id="profileAbout"></div>
</div>

   <%- include('partials/footer') %>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/5.3.0/fabric.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="/js/footer.js"></script>
   <script type="module" src="/js/main.js"></script>
    <script src="/js/socket.js"></script>

</body>
</html>
   
  